head
  title= title
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
  link(rel='stylesheet', href='/css/bootstrap.min.css')
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
  style(type='text/css')
    body { padding-top: 60px; padding-bottom: 40px; }
    .sidebar-nav { padding: 9px 0; } 
